management:
  endpoints:
    web:
      exposure:
        include: health, info, env, metrics
  endpoint:
    health:
      show-details: always

spring:
  datasource:
    name: my
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      max-active: 20
      driver-class-name: org.mariadb.jdbc.Driver
      username: root
      password: root
      initial-size: 1
      min-idle: 1
      url: jdbc:mysql://47.99.155.46:3306/amov_homesite
      max-wait: 60000
      time-between-eviction-runs-millis: 60000
      min-evictable-idle-time-millis: 300000
      validation-query: SELECT 1
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
      pool-prepared-statements: false
      max-pool-prepared-statement-per-connection-size: 20
      filters: stat

mybatis:
  mapper-locations: classpath:mapping/base/*.xml
  type-aliases-package: com.amov.homesite.model

pagehelper:
  helper-dialect: mysql
  reasonable: true
  support-methods-arguments: true
  params: count=countSql
logging:
  path: output/logs

