<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amov.homesite.mapper.base.CoursePeriodBaseMapper">


    <insert id="insertCoursePeriod"  useGeneratedKeys="true" keyProperty="coursePeriodId">
        INSERT INTO `course_period`
        (
        <trim suffixOverrides=",">
                    <if test="coursePeriodId!=null">
                        `course_period_id`,
                    </if>
                    <if test="courseChapterId!=null">
                        `course_chapter_id`,
                    </if>
                    <if test="title!=null">
                        `title`,
                    </if>
                    <if test="content!=null">
                        `content`,
                    </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
                <if test="coursePeriodId!=null">
                    #{coursePeriodId},
                </if>
                <if test="courseChapterId!=null">
                    #{courseChapterId},
                </if>
                <if test="title!=null">
                    #{title},
                </if>
                <if test="content!=null">
                    #{content},
                </if>
        </trim>
        )
    </insert>




    <update id="updateCoursePeriod">
        UPDATE `course_period`
        SET
        <trim suffixOverrides=",">
            <if test="courseChapterId != null">
                `course_chapter_id` = #{courseChapterId},
            </if>
            <if test="title != null and title!=''">
                `title` = #{title},
            </if>
            <if test="content != null and content!=''">
                `content` = #{content},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
                `course_period_id` = #{coursePeriodId} and
        </trim>
    </update>

    <update id="update">
        UPDATE `course_period`
        SET
        <trim suffixOverrides=",">
        <if test="set.courseChapterId != null">
            `course_chapter_id` = #{set.courseChapterId},
        </if>
        <if test="set.title != null and set.title!=''">
            `title` = #{set.title},
        </if>
        <if test="set.content != null and set.content!=''">
            `content` = #{set.content},
        </if>
        </trim>
        <trim prefix="where" suffixOverrides="and | or">
                <if test="where.coursePeriodIdList != null">
                    `course_period_id` in
                    <foreach collection="where.coursePeriodIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.coursePeriodIdSt !=null">
                `course_period_id` >= #{where.coursePeriodIdSt} and
            </if>
            <if test="where.coursePeriodIdEd!=null">
                `course_period_id` &lt;= #{where.coursePeriodIdEd} and
            </if>
                <if test="where.courseChapterIdList != null">
                    `course_chapter_id` in
                    <foreach collection="where.courseChapterIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.courseChapterIdSt !=null">
                `course_chapter_id` >= #{where.courseChapterIdSt} and
            </if>
            <if test="where.courseChapterIdEd!=null">
                `course_chapter_id` &lt;= #{where.courseChapterIdEd} and
            </if>
                <if test="where.titleList != null">
                    `title` in
                    <foreach collection="where.titleList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyTitle!=null and where.fuzzyTitle.size()>0">
                (
                <foreach collection="where.fuzzyTitle"  separator="or" item="item">
                    `Title` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyTitle!=null and where.rightFuzzyTitle.size()>0">
                (
                <foreach collection="where.rightFuzzyTitle"  separator="or" item="item">
                    `Title` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.contentList != null">
                    `content` in
                    <foreach collection="where.contentList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyContent!=null and where.fuzzyContent.size()>0">
                (
                <foreach collection="where.fuzzyContent"  separator="or" item="item">
                    `Content` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyContent!=null and where.rightFuzzyContent.size()>0">
                (
                <foreach collection="where.rightFuzzyContent"  separator="or" item="item">
                    `Content` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
        </trim>
    </update>


    <resultMap type="com.amov.homesite.model.CoursePeriod" id="CoursePeriodMap">
        <result property="coursePeriodId" column="course_period_id"/>
        <result property="courseChapterId" column="course_chapter_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
    </resultMap>


    <select id="queryCoursePeriod" resultMap="CoursePeriodMap">
        select
        <include refid="baseResult"></include>
        from  `course_period`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="coursePeriodId != null">
                `course_period_id` = #{coursePeriodId} and
            </if>
            <if test="courseChapterId != null">
                `course_chapter_id` = #{courseChapterId} and
            </if>
            <if test="title != null and title!=''">
                `title` = #{title} and
            </if>
            <if test="content != null and content!=''">
                `content` = #{content} and
            </if>
            <if test = "(_parameter instanceof com.amov.homesite.model.CoursePeriod$QueryBuilder) == true">
                <if test="coursePeriodIdList != null">
                    `course_period_id` in
                    <foreach collection="coursePeriodIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="coursePeriodIdSt !=null">
                    `course_period_id` >= #{coursePeriodIdSt} and
                </if>
                <if test="coursePeriodIdEd!=null">
                    `course_period_id` &lt;= #{coursePeriodIdEd} and
                </if>
                <if test="courseChapterIdList != null">
                    `course_chapter_id` in
                    <foreach collection="courseChapterIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="courseChapterIdSt !=null">
                    `course_chapter_id` >= #{courseChapterIdSt} and
                </if>
                <if test="courseChapterIdEd!=null">
                    `course_chapter_id` &lt;= #{courseChapterIdEd} and
                </if>
                <if test="titleList != null">
                    `title` in
                    <foreach collection="titleList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyTitle!=null and fuzzyTitle.size()>0">
                    (
                    <foreach collection="fuzzyTitle"  separator="or" item="item">
                        `Title` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyTitle!=null and rightFuzzyTitle.size()>0">
                    (
                    <foreach collection="rightFuzzyTitle"  separator="or" item="item">
                        `Title` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="contentList != null">
                    `content` in
                    <foreach collection="contentList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyContent!=null and fuzzyContent.size()>0">
                    (
                    <foreach collection="fuzzyContent"  separator="or" item="item">
                        `Content` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyContent!=null and rightFuzzyContent.size()>0">
                    (
                    <foreach collection="rightFuzzyContent"  separator="or" item="item">
                        `Content` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
    </select>

    <select id="queryCoursePeriodLimit1" resultMap="CoursePeriodMap">
        select
        <include refid="baseResult"></include>
        from  `course_period`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="coursePeriodId != null">
                `course_period_id` = #{coursePeriodId} and
            </if>
            <if test="courseChapterId != null">
                `course_chapter_id` = #{courseChapterId} and
            </if>
            <if test="title != null and title!=''">
                `title` = #{title} and
            </if>
            <if test="content != null and content!=''">
                `content` = #{content} and
            </if>
            <if test = "(_parameter instanceof com.amov.homesite.model.CoursePeriod$QueryBuilder) == true">
                    <if test="coursePeriodIdList != null">
                        `course_period_id` in
                        <foreach collection="coursePeriodIdList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="coursePeriodIdSt !=null">
                    `course_period_id` >= #{coursePeriodIdSt} and
                </if>
                <if test="coursePeriodIdEd!=null">
                    `course_period_id` &lt;= #{coursePeriodIdEd} and
                </if>
                    <if test="courseChapterIdList != null">
                        `course_chapter_id` in
                        <foreach collection="courseChapterIdList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="courseChapterIdSt !=null">
                    `course_chapter_id` >= #{courseChapterIdSt} and
                </if>
                <if test="courseChapterIdEd!=null">
                    `course_chapter_id` &lt;= #{courseChapterIdEd} and
                </if>
                    <if test="titleList != null">
                        `title` in
                        <foreach collection="titleList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyTitle!=null and fuzzyTitle.size()>0">
                    (
                    <foreach collection="fuzzyTitle"  separator="or" item="item">
                        `Title` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyTitle!=null and rightFuzzyTitle.size()>0">
                    (
                    <foreach collection="rightFuzzyTitle"  separator="or" item="item">
                        `Title` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="contentList != null">
                        `content` in
                        <foreach collection="contentList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyContent!=null and fuzzyContent.size()>0">
                    (
                    <foreach collection="fuzzyContent"  separator="or" item="item">
                        `Content` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyContent!=null and rightFuzzyContent.size()>0">
                    (
                    <foreach collection="rightFuzzyContent"  separator="or" item="item">
                        `Content` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
        `course_period_id`,
        `course_chapter_id`,
        `title`,
        `content`,
        </trim>
    </sql>



    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof com.amov.homesite.model.CoursePeriod$QueryBuilder) == true">

                <if test="fetchFields==null">
                    <include refid="allResult"></include>
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    <if test="fetchFields.fetchFields.coursePeriodId==true">
                        `course_period_id`,
                    </if>
                    <if test="fetchFields.fetchFields.courseChapterId==true">
                        `course_chapter_id`,
                    </if>
                    <if test="fetchFields.fetchFields.title==true">
                        `title`,
                    </if>
                    <if test="fetchFields.fetchFields.content==true">
                        `content`,
                    </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    <if test="fetchFields.excludeFields.coursePeriodId==null">
                        `course_period_id`,
                    </if>
                    <if test="fetchFields.excludeFields.courseChapterId==null">
                        `course_chapter_id`,
                    </if>
                    <if test="fetchFields.excludeFields.title==null">
                        `title`,
                    </if>
                    <if test="fetchFields.excludeFields.content==null">
                        `content`,
                    </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof com.amov.homesite.model.CoursePeriod$QueryBuilder) == false" >
                <include refid="allResult"></include>
            </if>

        </trim>
    </sql>


</mapper>